{% extends "base.html.twig" %}

{% block title %}
	Question:
	{{ question }}
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
	<h1>{{ question }}</h1>
	<p>Eventually, we'll print the fulll quesion here.</p>

	<h2>Answers ({{ answers|length }})</h2>
	<ul>
		{% for answer in answers %}
			<li>{{ answer }}</li>
		{% endfor %}
	</ul>
{% endblock %}
